*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #86a5c4;
    text-align: center;
}
.conatainer{
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(215, 122, 122, 0.5);
    font-size: 8vmin;
    color: #051d35;
    background-color: antiquewhite;

}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: beige;
    border-radius: 1rem;
    margin-top: 4vmin;


}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: beige;
    border-radius: 1rem;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

#msg{
    color: rgb(216, 216, 58);
    font-size: 8vmin;
    
}

.hide{
    display: none;
}
